<footer class="footer">
  <div class="container-fluid">
    <div class="row address">
      <div class="col-xl-3 col-md-3 col-sm-12">
        <p>Headquarters:</p>
        <span class="address__text">
          <p>11 E. Chavdar Street, Office 222.</p>
          <p>Kiev, Ukraine 04335</p>
        </span>
      </div>
      <div class="col-xl-3 col-md-3 col-sm-3">
        <p>USA:</p>
        <span class="address__text">
          <p class="address__email">usa.hr@trinetix.com</p>
          <p>+1 212 336 1440</p>
        </span>
      </div>
      <div class="col-xl-3 col-md-3 col-sm-3">
        <p>Ukraine:</p>
        <span class="address__text">
          <p class="address__email">ua.hr@trinetix.com</p>
          <p>+38 044 334 2341</p>
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row footer-bar d-flex align-items-baseline">
      <div class="col-xl-3 col-md-3">
        <p class="footer-bar__title">© 2010-2015 Trinetix LLC</p>
      </div>
      <div class="col-xl-6 col-md-6">
        <nav>
          <ul class="footer-menu d-flex">
            <li class="footer-menu__item"><a href="#">Home</a></li>
            <li class="footer-menu__item"><a href="#">Case Studies</a></li>
            <li class="footer-menu__item"><a href="#">Services</a></li>
            <li class="footer-menu__item"><a href="#">Expertise</a></li>
            <li class="footer-menu__item"><a href="#">About</a></li>
            <li class="footer-menu__item"><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-3 col-md-3">
        <img src="../../../assets/images/social-icons/facebook.svg" alt="facebook">
        <img src="../../../assets/images/social-icons/linkedin.svg" alt="linkedin">
        <img src="../../../assets/images/social-icons/google.svg" alt="google">
        <img src="../../../assets/images/social-icons/twitter.svg" alt="twitter">
      </div>
    </div>
  </div>
</footer>
