<header>
  <div class="row menu">
    <div class="col-md-2 d-flex justify-content-start">
      <a href="#"><img src="../../../assets/images/logo.png"></a>
    </div>
    <div class="col-md-10 d-flex justify-content-end">
      <nav>
        <ul class="d-flex">
          <li>CASE STUDIES</li>
          <li>SERVICES</li>
          <li>EXPERTISE</li>
          <li>ABOUT</li>
          <li>CONTACT US</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row intro align-items-center">
    <div class="col-md-10">
      <p>
        We work with forward businesses to create
        new digital platforms, products and services.
      </p>
    </div>
  </div>
  <div class="row tabs align-items-end">
    <div class="col-md-12">
      <a href="#" class="active">ALL</a>
      <a href="#">MOBILE APPS</a>
      <a href="#">WEB SERVICES</a>
      <a href="#">AUGMENTED REALITY</a>
      <a href="#">UX/UI DESIGN</a>
      <a href="#">DEVELOPMENT</a>
    </div>
  </div>
</header>
