@import '../../../styles/global/variables';

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

.menu-bar {
  background-color: #00172b;
  height: 70px;
  padding: 20px 0 20px 0;
  border-top: 3px solid #0097e3;

  .contact-btn {
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: transparent;
      border-radius: 20px;
      color: #ffffff;
      border-style: solid;
      width: 118px;
      height: 30px;
  }
}

.menu__item {
  margin-left: 44px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.header {
    background-color: #00172b;
    height: 210px;

      p {
        color: #ffffff;
        font-size: 48px;
        font-family: 'PT Serif', sans-serif;
  }
}

.tabs {
  background-color: #00172b;
  height: 73px;¬

  .active {
    border-bottom: 3px solid #0097e3;
  }

  a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #0097e3;
    }
  }
}


@media screen and (min-width: 1245px) {
  .menu-bar,
  .header {
    padding: 20px 216px 20px 216px;
  }

  .tabs {
    padding: 0 216px;
  }
}
