<div class="container-fluid p-0">
  <header>
    <div class="row menu no-gutters">
      <div class="col-md-2 d-flex flex-row bd-highlight mb-3">
        <a href="#"><img src="../../../assets/images/logo.png"></a>
      </div>
      <div class="col-md-10 d-flex flex-row-reverse bd-highlight">
        <nav>
          <ul class="d-flex">
            <li>CASE STUDIES</li>
            <li>SERVICES</li>
            <li>EXPERTISE</li>
            <li>ABOUT</li>
            <li>CONTACT US</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row intro align-items-center">
      <div class="col-md-8">
        <p>
          We work with forward businesses to create
          new digital platforms, products and services.
        </p>
      </div>
    </div>
  </header>
</div>
