@import '../../../styles/global/colors';

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

.burger__menu {
  .burger__menu-item {
    width: 35px;
    height: 3px;
    background-color: $whiteColor;
    margin: 8px 0;
  }
}

.menu-bar {
  background-color: $mainBackground;
  height: 70px;
  padding: 20px 0 20px 0;
  border-top: 3px solid $mainColor;

  .contact-btn {
    background-color: transparent;
    border-radius: 20px;
    color: $whiteColor;
    border: 1px solid $whiteColor;
    width: 118px;
    height: 30px;
    padding-top: 5px;
  }
}

.menu__item {
  margin-left: 44px;
  font-size: 14px;
  font-family: 'DecimaNovaProBold', sans-serif;

  a {
    color: $whiteColor;
    text-decoration: none;
  }
}

.header {
  background-color: $mainBackground;
  height: 210px;

  p {
    color: $whiteColor;
    font-size: 48px;
    font-family: 'PT Serif', sans-serif;
  }
}

.tabs {
  background-color: $mainBackground;
  font-size: 14px;
  font-family: 'DecimaNovaProBold', sans-serif;

  .active {
    border-bottom: 3px solid $mainColor;
  }

  a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid $mainColor;
    }
  }
}

@media screen and (min-width: 1400px) {
  .menu-bar,
  .header {
    padding: 20px 216px 20px 216px;
  }

  .tabs {
    padding: 0 216px;
  }
}

@media screen and (min-width: 800px) {
  .burger__menu {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .menu,
  .header {
    display: none !important;
  }
}
