@import '../../../styles/global/variables';

.content {
  text-align: center;

  img {
    width: 350px;
  }

  .content__title {
    margin-top: 65px;
    font-size: 54px;
    font-family: 'PT Serif', sans-serif;
    color: #105788;
  }

  .content__title-product {
    margin-top: 50px;
    font-size: 36px;
    color: #00abff;
  }

  .content__text-product {
    font-size: 24px;
    font-family: 'DecimaNovaProLt', sans-serif;
  }

  .content__main {
    margin-top: 180px;

    .content__main-block {
      margin-bottom: 60px;
    }
  }

  .content__footer-text {
    font-size: 48px;
    font-family: 'PT Serif', sans-serif;
    color: #105788;
    line-height: 1.208;
  }

  .content__footer-btn {
      background-color: rgb(0, 171, 255);
      color: #ffffff;
      border-radius: 25px;
      width: 280px;
      height: 50px;
      font-size: 24px;
      font-family: 'DecimaNovaPro', sans-serif;

      &:focus {
        outline: none;
      }
  }

  .learn-more-btn {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      border-color: rgb(0, 171, 255);
      color: rgb(0, 171, 255);
      width: 180px;
      height: 36px;

      &:focus {
        outline: none;
      }
  }
}
