<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="content__title">What We Do</h2>
        <p class="content__text">
          We launch different types of platforms and operating systems using distinguishes of
          every platform or operating
          system as adventage and a powerful tool.</p>
      </div>
    </div>
  </div>
  <div class="row content__main justify-content-around align-items-end">
    <div class="col-xl-4 content__main-block">
      <img src="../../../assets/images/content-images/image-1.png">
      <h3 class="content__title-product">Mobile Apps</h3>
      <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are passionate
        about helping our clients
        achieve their goals and grow their brands.
      </p>
      <button>Learn More</button>
    </div>
    <div class="col-xl-4 content__main-block">
      <img src="../../../assets/images/content-images/image-2.png">
      <h3 class="content__title-product">Web Services</h3>
      <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are passionate
        about helping our clients
        achieve their goals and grow their brands.
      </p>
      <button>Learn More</button>
    </div>
    <div class="col-xl-4 content__main-block">
      <img src="../../../assets/images/content-images/image-3.png">
      <h3 class="content__title-product">Augmented Reality</h3>
      <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are passionate
        about helping our clients
        achieve their goals and grow their brands.
      </p>
      <button>Learn More</button>
    </div>
    <div class="col-xl-4 content__main-block">
      <img src="../../../assets/images/content-images/image-4.png">
      <h3 class="content__title-product">UX/UI Design</h3>
      <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are passionate
        about helping our clients
        achieve their goals and grow their brands.
      </p>
      <button>Learn More</button>
    </div>
    <div class="col-xl-4 content__main-block">
      <img src="../../../assets/images/content-images/image-5.png">
      <h3 class="content__title-product">Development</h3>
      <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are passionate
        about helping our clients
        achieve their goals and grow their brands.
      </p>
      <button>Learn More</button>
    </div>
  </div>
</section>
