<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="content__title">What We Do</h2>
        <p class="content__text">
          We launch different types of platforms and operating systems using distinguishes of
          every platform or operating
          system as adventage and a powerful tool.</p>
      </div>
    </div>
  </div>
  <div class="container-md">
    <div class="row content__main justify-content-around align-items-end">
      <div class="col-xl-6 col-md-6 content__main-block">
        <img src="../../../assets/images/content-images/image-1.png">
        <h3 class="content__title-product">Mobile Apps</h3>
        <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are
          passionate
          about helping our clients
          achieve their goals and grow their brands.
        </p>
        <button class="learn-more-btn">Learn More</button>
      </div>
      <div class="col-xl-6 col-md-6 content__main-block">
        <img src="../../../assets/images/content-images/image-2.png">
        <h3 class="content__title-product">Web Services</h3>
        <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are
          passionate
          about helping our clients
          achieve their goals and grow their brands.
        </p>
        <button class="learn-more-btn">Learn More</button>
      </div>
      <div class="col-xl-6 col-md-6 content__main-block">
        <img src="../../../assets/images/content-images/image-3.png">
        <h3 class="content__title-product">Augmented Reality</h3>
        <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are
          passionate
          about helping our clients
          achieve their goals and grow their brands.
        </p>
        <button class="learn-more-btn">Learn More</button>
      </div>
      <div class="col-xl-6 col-md-6 content__main-block">
        <img src="../../../assets/images/content-images/image-4.png">
        <h3 class="content__title-product">UX/UI Design</h3>
        <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are
          passionate
          about helping our clients
          achieve their goals and grow their brands.
        </p>
        <button class="learn-more-btn">Learn More</button>
      </div>
      <div class="col-xl-6 col-md-6 content__main-block">
        <img src="../../../assets/images/content-images/image-5.png">
        <h3 class="content__title-product">Development</h3>
        <p class="content__text-product">We are a nimble team of designers, developers, and strategists who are
          passionate
          about helping our clients
          achieve their goals and grow their brands.
        </p>
        <button class="learn-more-btn">Learn More</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-11">
        <div class="content__footer-text">
          <p>We enjoy what we do.</p>
          <p>Working with smart people at great projects.</p>
          <p> Contact us if you want to work with us.</p>
        </div>
        <button class="content__footer-btn">Contact Us</button>
      </div>
    </div>
  </div>
</section>
